.flex-container {
    display: flex;
    /* margin-left: 10%; */
    gap: 100px;
    flex-direction: column;
    justify-content: row;
    flex-wrap: wrap;
    background-color: yellow;
    height: 60vh;
    align-items: center;
}
    



.flex-container .flex-children {
    background-color: violet;
    color: white;
    font-size: 26px;
    height: 250px;
    width: 250px;
    margin-left: 10%;
}

.flex-children.red{
    background-color: red;
    order: 1;
}

.flex-children.green{
    background-color: green;
    order: 2;
}
.flex-children.blue{
    background-color: blue;
}
.flex-children.negative{
    order: -1;
}
