#c01 {
    color: navy;
}
#c02 {
    color: #fb7d9e;
}
#c03 {
    color: rgb(144, 28, 206);
}


#c04 {
    color: rgb(37, 37, 119);
    background-color: white;
}


#s1 {
    width: 300px;
    height: 200px;
    background-color: pink;
    color: rgb(11, 10, 10);
    margin: 20px;
    border-radius: 50%;
}
#s2 {
    width: 300px;
    height: 100px;
    background-color: orange;
    color: rgb(26, 25, 24);
    margin: 30px;
}
#s3 {
    width: 200px;
    height: 200px;
    background-color: black;
    color: rgb(248, 244, 244);
    margin: 30px;
}
#s4 {
    width: 300px;
    height: 200px;
    background-color: cyan;
    color: rgb(15, 19, 19);
    margin: 20px;
}

#d1 {
    background-color: cyan;
}

#d2 {
    background-color: yellow;
}

#d3 {
    background-color: rgb(213, 88, 88);
}

