.cards-wrapper::after{
    content: "";
    display: block;
    clear: both;
}

.card {
    float: left;
    width: 30%;
    margin: 1%;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.card-badge{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    border: 30px;
    border-radius: 8px;
}